@import '~bpk-mixins/index';

.scroll-container {
  display: flex;

  &__item {
    display: flex;
    min-width: $bpk-spacing-xxl * 5;
    height: $bpk-spacing-xxl * 5;
    justify-content: center;
    align-items: center;
    background-color: $bpk-color-sky-gray-tint-07;
  }
}

.booking-bar {
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  
  &__actual {
    background-color: white;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
  }
}

.back-button-container {
  text-align: left;
  margin-left: $bpk-spacing-sm;
}

.checkpoint-image { 
  width: 231px;
  height: 185px;
}

.reviewer-block {
  margin: 0px 13px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: $bpk-spacing-sm;
  padding-bottom: $bpk-spacing-sm;
}

.reviewer-name {

}

.reviewer-location {

}

.pink-icon {
  fill: $bpk-color-panjin;
}