@import '~bpk-mixins/index';

.waste-highlight {
}

.waste-content {
  font-size: 14px;
  line-height: normal;
  margin-top: 5px;
}

.waste-content strong {
  display: block;
  font-size: 16px;
  margin: 10px 0 20px;
  color: white;
}

.no-gutters {
  background-color: #02122C;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  color: #CDCDD7;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  span {
    font-size: 24px;
    color: white;
  }
}

.info-container {
  margin: 0;
  background-color: #02122C;
  padding-top: $bpk-spacing-md;
}